ion-img {
  max-width: 60%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

#buttons {
  padding-top: 30px;
  //font-family: 'Comfortaa', cursive !important;
}

